
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    max-width: 1600px;
    background-color: rgba(26, 11, 46, 1);
    color: white;
    border:1px solid greenyellow
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92px;
    border-bottom: 1px solid white;
    border: 1px solid palegreen;
}
nav>ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
nav>button{
    padding: 0.75rem 1rem;
    border-radius: 22px;
    font-weight: 600;
    background-color: rgb(247, 17, 147);
}
nav>img{
    display: none; 
}



/* banner section  */
.banner{
    text-align: center;
    padding: 6.25rem;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.banner>.microphone-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.banner>h1{
    font-size: 3.75rem;
    font-weight: bolder;
}
.banner>button{
    background-color: aqua;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    border-radius: 30px;
    color: white;
    border: none;
}
.banner>img{
    width: 100%;
}







/* about-podcast section  */
.about-podcast{
    padding: 6.25rem 12.5rem;
    text-align: center;
    border: 1px solid red;
}
.about-podcast>h1{
    font-size: 3rem;
    font-weight: bold;
}
.counter-card{  
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    padding-top: 5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.099);
}
.counter-card>.card>span{
    font-size: 2rem;
    font-weight: 900;
    color:rgba(0, 255, 136, 1);

}





  /* Why Choose TechWave section   */
  .choose-techwave{
    padding: 7.5rem 12.5rem;
    background-color: rgba(53, 17, 101, 0.4);
  }
  .choose-techwave>h1{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
}
.techwave-card-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}
.techwave-card-container>.card1{
    grid-row: span 2;
    padding-top: 6.75rem !important ;
    
    
}
.techwave-card-container>.card2,
.techwave-card-container>.card3,
.techwave-card-container>.card4{
    grid-column: span 2;

}

.techwave-card-container>.card{
    border-radius: 40px;
    padding: 2.4rem;
    background-color: rgba(53, 17, 101, 0.4);
    
    
}
.techwave-card-container>.card>h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 16px 0px;
}







 /* Featured Episodes section   */
 .featured{
     padding: 7.5rem 12.5rem;
 }
 .video-card-container{
     padding-top: 2.8rem;
    display: flex;
    gap: 30px;
 }
 .video-card-container>.video-card{
    background-color:  rgba(53, 17, 101, 0.4);
    border-radius: 20px ;
    padding-bottom: 1.5rem;
 }
 .video-card>h3{
    margin: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    
 }
 .video-card>p{
    margin: 1.5rem;
    
 }
 .video-card>span{
    color: rgba(0, 255, 136, 1);
    font-weight: 600;
    margin: 1.5rem;
    vertical-align: middle;

 }
 /* .video-card>img{
    vertical-align: baseline;
 } */
 .video-card-container>iframe{
    background-color:gold ;
    border-radius: 20px;
 }

/* meet the host section  */
.alex-kumar-container{
    background-color:  rgba(53, 17, 101, 0.4);
    padding: 3rem 2.5rem;
    display: flex;
    gap: 1.5rem;

}
.kumar-text>h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom:1rem ;
    
}
.kumar-text>img{
    padding: 20px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border: 1px solid rgba(220, 13, 235, 0.286);
}


footer{
    background-image: url(./assets/footer-bg.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: violet;
    margin: 200px 0px;

}
footer>p>span{
    margin: 20px
}













/* media control section  */
@media screen and (max-width:576px) {

  
    .banner{
        padding: 2.5rem 1.25rem;
        background-size: cover;
    }
    nav>img{
        display: inline;
    }
    nav>ul{
        display: none;
    }


        /* about podcast section  */
    .about-podcast{
    padding: 3.125rem 1.25rem;
    }
    .counter-card{
    flex-wrap: wrap;
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    }
    .banner.card{
        width: 50%;
    }   



 /* Why Choose TechWave section   */

.techwave-card-container{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}


 .choose-techwave{
    padding: 3.125rem 1.25rem;
   
  }



   /* Featured Episodes section   */
   .featured{
     padding: 3.125rem 1.25rem;
 }
    .video-card-container{
     padding-top: 2.8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
 }
 .video-card-container>.video-card{
    width: 100%;
    background-color:  rgba(53, 17, 101, 0.4);
    border-radius: 20px ;
    padding-bottom: 1.5rem;
 }
 .video-card>iframe{
    width: 100%;
    height: 225px;
 }
 
}