
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    max-width: 1600px;
    background-color: rgba(26, 11, 46, 1);
    color: white;
    border:1px solid greenyellow
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92px;
    border-bottom: 1px solid white;
    border: 1px solid palegreen;
}
nav>ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
nav>button{
    padding: 0.75rem 1rem;
    border-radius: 22px;
    font-weight: 600;
    background-color: rgb(247, 17, 147);
}
nav>img{
    display: none; 
}



/* banner section  */
.banner{
    text-align: center;
    padding: 6.25rem;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.banner>.microphone-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.banner>h1{
    font-size: 3.75rem;
    font-weight: bolder;
}
.banner>button{
    background-color: aqua;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    border-radius: 30px;
    color: white;
    border: none;
}
.banner>img{
    width: 100%;
}







/* about-podcast section  */
.about-podcast{
    padding: 6.25rem 12.5rem;
    text-align: center;
    border: 1px solid red;
}
.about-podcast>h1{
    font-size: 3rem;
    font-weight: bold;
}
.counter-card{  
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    padding-top: 5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.099);
}
.counter-card>.card>span{
    font-size: 2rem;
    font-weight: 900;
    color:rgba(0, 255, 136, 1);

}





  /* Why Choose TechWave section   */
  .choose-techwave{
    padding: 7.5rem 12.5rem;
    background-color: rgba(53, 17, 101, 0.4);
  }
.techwave-card-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}
.techwave-card-container>.card1{
    grid-row: span 2;
    padding-top: 6.75rem !important ;
    
    
}
.techwave-card-container>.card2,
.techwave-card-container>.card3,
.techwave-card-container>.card4{
    grid-column: span 2;

}

.techwave-card-container>.card{
    border-radius: 40px;
    padding: 2.4rem;
    background-color: rgba(53, 17, 101, 0.4);
    
    
}
.techwave-card-container>.card>h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 16px 0px;
}








@media screen and (max-width:576px) {

  
    .banner{
        padding: 2.5rem 1.25rem;
        background-size: cover;
    }
    nav>img{
        display: inline;
    }
    nav>ul{
        display: none;
    }


        /* about podcast section  */
    .about-podcast{
    padding: 3.125rem 1.25rem;
    }
    .counter-card{
    flex-wrap: wrap;
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    }
    .banner.card{
        width: 50%;
    }   



 /* Why Choose TechWave section   */

.techwave-card-container>.card{
    /* width: 100%; */
}

.techwave-card-container{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
 .choose-techwave{
    padding: 3.125rem 1.25rem;
   
  }

}