
*{
    margin: 0;
    padding: 0;
}

/* shareable css  */
.gradient-btn{
    border: none;
    color: white;
     background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));  /*the color-gradient copied from pixco */   
    animation: color-moving 0.8s ease-in-out infinite;
}


  

/* it will change color of every gradient btn  */
@keyframes color-moving {
  0% {
   background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
  }
  50%{
    background: linear-gradient(47.64deg, rgba(251, 9, 180, 1),rgba(145, 0, 248, 1),rgba(251, 9, 180, 1));
  }
  100% {
  background: linear-gradient(47.64deg, rgba(145, 0, 248, 1),rgba(247, 233, 63, 1),rgba(251, 9, 180, 1));
  }
}


/* it will rotate microphone-div for once when the page is loaded */
@keyframes microphone-bg-rotate {
    0%{
        transform: rotate(45deg);
    }
    20%{
        transform: rotate(90deg);
    }
    33%{
        transform: rotate(180deg);
    }
    66%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

button:hover{
    transform: scale(1.05);
}



button{
    cursor: pointer;
}

body{
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    max-width: 1600px;
    background-color: rgba(26, 11, 46, 1);
    color: white;
  
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.205);
  
}
nav>ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
li>a{
    color: white;
    text-decoration: none;
}
nav>button{
    padding: 0.75rem 1rem;
    border-radius: 22px;
    font-weight: 600;
   
}
.hamburger-icon{
    display: none; 
}



/* banner section  */
.banner{
    text-align: center;
   margin-top: 6rem;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.banner>.microphone-logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    animation: microphone-bg-rotate 4s 1 2s;
}
.badge{
    position: absolute;
    top: 12px;
    right: 10px;
    color: black;
    font-size: 1.12rem;
    font-weight: 600;
    background-color: #00FF88;
    border-radius: 20px;
    padding: 8px 16px;
}
h1{
    text-align: center;
    font-size: 3.75rem;
    font-weight: bolder;
}
.banner>button{
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    border-radius: 30px;
    color: white;
    border: none;
}
.banner>img{
    max-width: 100%;
}







/* about-podcast section  */
.about-podcast{
    padding: 6.25rem 12.5rem;
    text-align: center;
}
.about-podcast>h1{
    font-size: 3rem;
    font-weight: bold;
}
.counter-card{  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5rem;
    padding-top: 5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.099);
}
.counter-card>.card>span{
    font-size: 2rem;
    font-weight: 900;
    color:rgba(0, 255, 136, 1);

}





  /* Why Choose TechWave section   */
  .choose-techwave{
    padding: 7.5rem 12.5rem;
    background-color: rgba(53, 17, 101, 0.4);
  }
  .choose-techwave>h1{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
}
.techwave-card-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}
.techwave-card-container>.card1{
    grid-row: span 2;
    padding-top: 6.75rem !important ;
    
    
}
.techwave-card-container>.card2,
.techwave-card-container>.card3,
.techwave-card-container>.card4{
    grid-column: span 2;

}

.techwave-card-container>.card{
    border-radius: 40px;
    padding: 2.4rem;
    background-color: rgba(53, 17, 101, 0.4);
    
    
}
.techwave-card-container>.card>h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 16px 0px;
}







 /* Featured Episodes section   */
 .featured{
    background-color: rgba(83, 60, 114, 0.146);
     padding: 7.5rem 12.5rem;
 }
 .video-card-container{
     padding-top: 2.8rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
 }
 .video-card-container>.video-card{
    background-color:  rgba(53, 17, 101, 0.4);
    border-radius: 20px ;
    padding-bottom: 1.5rem;
    max-width: 380px;
    
    box-sizing: border-box;
 }
 .video-card>h3{
    margin: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    
 }
 .video-card>p{
    margin: 1.5rem;
    
 }
 .video-card>span{
    color: rgba(0, 255, 136, 1);
    font-weight: 600;
    margin: 1.5rem;
    vertical-align: middle;

 }
 
 .video-card-container>iframe{
    background-color:gold ;
    border-radius: 20px;
 }




/* meet the host section  */
.the-host{
    margin: 0 12.5rem;
    
}
.alex-kumar-container{
    background-color:  rgba(53, 17, 101, 0.4);
    padding: 3rem 2.5rem;
    border-radius: 40px;
    display: flex;
    gap: 1.5rem;

}
.kumar-text>h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom:1rem ;
    
}
.kumar-text>img{
    padding: 20px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border: 1px solid rgba(220, 13, 235, 0.286);
}


footer{
    text-align: center;
    padding: 7.5rem;
    background-image: url(./assets/footer-bg.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
    margin: 12.5rem 0;

}
.icon-container{
    display: flex;
    justify-content: center;
    gap:40px;
    margin: 32px 0;
}













/* media control section  */
@media screen and (max-width:576px) {

    .banner{
        padding: 2.5rem 1.25rem;
        background-size: cover;
    }
    .hamburger-icon{
        display: inline;
    }
    nav>ul{
        display: none;
    }


        /* about podcast section  */
    .about-podcast{
    padding: 3.125rem 1.25rem;
    }
    .counter-card{
    flex-wrap: wrap;
    
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    }
    .counter-card>.card{
        width: 50%;
        margin-top: 40px;
    }
    .banner.card{
        width: 50%;
    }   



    /* Why Choose TechWave section   */

    .techwave-card-container{
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
    }


    .choose-techwave{
        padding: 3.125rem 1.25rem; 
    }



    /* Featured Episodes section   */
    .featured{
        padding: 3.125rem 1.25rem;
    }
        .video-card-container{
        padding-top: 2.8rem;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .video-card-container>.video-card{
        width: 100%;
        background-color:  rgba(53, 17, 101, 0.4);
        border-radius: 20px ;
        padding-bottom: 1.5rem;
    }
    .video-card>iframe{
        width: 100%;
        height: 225px;
    }


    /* meet the host section  */
    .the-host{
        margin: 0 1.25rem;
    }
    .alex-kumar-container{
        text-align: center;
        
        padding: 3rem 2.5rem;
        display: block;
    }
    .the-host>h1{
        margin-top: 4.125rem !important;
        
    }


    footer{
        padding: 2.5rem 1.25rem;
        background-size: cover;
        margin-top: 3rem;
        
    }

    .icon-container{
        flex-wrap: wrap;
        gap:40px;
    }
    
    }



    /* developed by Akash */