
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    max-width: 1600px;
    background-color: rgba(26, 11, 46, 1);
    color: white;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92px;
    border-bottom: 1px solid white;
}
nav>ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
nav>button{
    padding: 12px 16px;
    border-radius: 22px;
    font-weight: 600;
    background-color: rgb(247, 17, 147);

}



/* banner section  */
.banner{
    text-align: center;
    padding: 100px;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
}
.banner>.microphone-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
   

}
.banner>h1{
    font-size: 3.75rem;
    font-weight: bolder;
}
.banner>button{
    background-color: aqua;
    padding: 12px 22px;
    font-weight: 600;
    margin-top: 24px;
    border-radius: 30px;
    color: white;
    border: none;
}